@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600,700&display=swap);
@font-face {
  font-family: Ahsing;
  font-display: swap;
  src: url(../fonts/AhsingRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "Work Sans";
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Work Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  font-weight: 500;
  background-color: #161010;
  color: #fff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  border: 3px solid #000;
  border-radius: 1.125rem;
  background: #e84341;
  color: #fff;
  box-shadow: -7px -7px 4px 0 rgba(0,0,0,.45) inset,4.505px 4.505px 0 1.502px #000;
  transition: all .5s
}
.button--fw {
  width: 100%
}
.button__link img {
  max-width: 2.125rem
}
.button--white {
  background: #fff;
  color: #000
}
.button--hero {
  min-width: 5.25rem;
  font-size: 2.125rem
}
.button--no-event {
  box-shadow: 13px -19px 4px 0 rgba(0,0,0,.24) inset,0 13.974px 0 0 #000;
  border-radius: 6.25rem;
  pointer-events: none;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  padding-left: 3.75rem;
  z-index: 5;
  width: 100%
}
.button--no-event img {
  max-width: 11.8125rem
}
.op-0 {
  opacity: 0
}
.menu {
  display: grid;
  justify-items: end
}
.menu__body {
  gap: .625rem
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: .4375rem;
  align-items: center
}
.menu__link {
  color: #fff;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 400;
  transition: color .5s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  padding-top: .625rem;
  padding-bottom: .3125rem;
  transition: all 1.5s
}
.header._header-scroll {
  position: fixed;
  padding-top: 0;
  padding-bottom: 0
}
.header__container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: .625rem;
  padding-bottom: .625rem;
  color: #fff
}
.header__logo {
  max-width: 8.1875rem;
  position: relative;
  z-index: 50
}
.header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1
}
[class*=decor] {
  pointer-events: none
}
[class*=ellipse-decor] {
  width: 14.625rem
}
.strip {
  border: .5rem solid #000;
  background: var(--Linear,linear-gradient(270deg,#280808 0,#8e1d1c 33.23%,#280808 100%));
  box-shadow: 0 9px 0 0 #000;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  margin-top: -7.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  position: relative;
  z-index: 5
}
.strip--top-left {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg)
}
.hero__container {
  display: grid;
  align-items: start;
  grid-template-columns: 45% 55%;
  color: #fff;
  gap: 2.5rem
}
.hero__body {
  display: flex;
  flex-direction: column
}
.hero__title-block {
  position: relative
}
.hero__title {
  color: #fff;
  font-weight: 700
}
.hero__highligh {
  font-family: Ahsing;
  font-weight: 400
}
.hero__title-bone {
  top: 22%;
  right: -.9375rem;
  position: absolute
}
.hero__bone-decor {
  aspect-ratio: 145/135
}
.hero__label {
  display: grid;
  gap: .9375rem;
  font-size: 1.25rem;
  line-height: 140%
}
.hero__actions {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  flex-wrap: wrap
}
.hero__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}
.hero__image {
  aspect-ratio: 387/456;
  position: relative;
  z-index: 2;
  top: 0;
  left: 20px
}
.hero__decor {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/1300;
  top: 0;
  left: 0
}
.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: .625rem;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem
}
.social__item {
  -webkit-filter: drop-shadow(4px 7px 0 #000);
  filter: drop-shadow(4px 7px 0 #000);
  transition: all .5s
}
.social__social__link {
  aspect-ratio: 1/1
}
.what__container {
  display: flex;
  row-gap: 3.4375rem;
  align-items: start
}
.what__img {
  overflow: hidden;
  flex: 0 1 50%
}
.what__body {
  flex: 0 1 50%;
  position: relative
}
.what .ellipse {
  -webkit-filter: blur(150px);
  filter: blur(150px)
}
.what__label {
  position: relative;
  font-family: Ahsing;
  line-height: 1.35
}
.what__decor {
  position: absolute;
  top: 0;
  right: 0
}
.what__image {
  aspect-ratio: 782/430;
  border: 6px solid #000;
  border-radius: 1.875rem
}
.what__image-decor {
  aspect-ratio: 1/1;
  z-index: 2
}
.what__image-decor-2 {
  z-index: 1;
  position: absolute;
  aspect-ratio: 1/1
}
.what__blcok {
  padding: 1.5625rem
}
.what__text {
  position: relative;
  background-color: #fff;
  color: #000;
  display: grid;
  gap: .9375rem;
  font-size: 1.375rem;
  line-height: 140%;
  margin-top: -3.125rem
}
@media (min-width:79.375em) {
  .menu__list {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem
  }
  .header__container {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .page__hero {
    padding-top: 7.5rem
  }
  .page__what {
    padding-top: 4.6875rem
  }
  .page__what {
    padding-bottom: 4.6875rem
  }
  .hero__container {
    column-gup: 6.25rem
  }
  .hero__container {
    padding-bottom: 4.375rem
  }
  .hero__body {
    gap: 2.8125rem
  }
  .hero__body {
    padding-top: 6.25rem
  }
  .hero__title-block:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .hero__title {
    font-size: 4.5rem
  }
  .hero__highligh {
    font-size: 15.75rem
  }
  .hero__title-bone {
    max-width: 9.0625rem
  }
  .hero__actions {
    gap: 1.25rem
  }
  .social__list {
    padding-top: 3.9375rem
  }
  .social__list {
    padding-bottom: 3.9375rem
  }
  .social__item {
    width: 7.5rem
  }
  .what__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .what__img {
    padding-top: 6.875rem
  }
  .what__label {
    font-size: 3.6875rem
  }
  .what__decor {
    margin-top: -6.25rem
  }
  .what__image-decor {
    width: 10.625rem
  }
  .what__image-decor-2 {
    width: 14.375rem
  }
  .what__text {
    padding-top: 5.9375rem
  }
  .what__text {
    padding-bottom: 3.125rem
  }
  .what__text {
    padding-left: 2.5rem
  }
  .what__text {
    padding-right: 2.5rem
  }
}
@media (max-width:20em) {
  .page__hero {
    padding-top: 4.375rem
  }
  .page__what {
    padding-top: 1.875rem
  }
  .page__what {
    padding-bottom: 1.875rem
  }
  .hero__container {
    column-gup: 3.125rem
  }
  .hero__container {
    padding-bottom: 3.75rem
  }
  .hero__body {
    gap: 1.875rem
  }
  .hero__body {
    padding-top: 3.75rem
  }
  .hero__title-block:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__highligh {
    font-size: 6.25rem
  }
  .hero__title-bone {
    max-width: 4.6875rem
  }
  .hero__actions {
    gap: .625rem
  }
  .social__list {
    padding-top: 1.25rem
  }
  .social__list {
    padding-bottom: 1.25rem
  }
  .social__item {
    width: 2.5rem
  }
  .what__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .what__img {
    padding-top: 3.125rem
  }
  .what__label {
    font-size: 1.25rem
  }
  .what__decor {
    margin-top: .0000000625rem
  }
  .what__image-decor {
    width: 4.6875rem
  }
  .what__image-decor-2 {
    width: 6.25rem
  }
  .what__text {
    padding-top: 3.125rem
  }
  .what__text {
    padding-bottom: 1.875rem
  }
  .what__text {
    padding-left: .625rem
  }
  .what__text {
    padding-right: .625rem
  }
}
@media (max-width:112.5em) {
  .hero__decor {
    display: none
  }
}
@media (max-width:61.99875em) {
  .menu__list {
    row-gap: .625rem
  }
  .header {
    padding-top: 0;
    padding-bottom: 0
  }
  .social__list {
    justify-content: center
  }
}
@media (max-width:61.25em) {
  .hero__container {
    grid-template-columns: 1fr;
    text-align: center
  }
  .hero__title-bone {
    right: 3%
  }
  .hero__actions {
    justify-content: center
  }
  .what__container {
    flex-direction: column-reverse;
    align-items: center
  }
  .what__img {
    flex: 1 0 50%
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    background-color: #000;
    display: grid;
    grid-template-rows: 1fr auto;
    transition: left .5s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .5s;
    z-index: 2
  }
  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 5;
    background-color: #fff
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .menu__list {
    row-gap: 1.5625rem;
    flex-direction: column;
    justify-content: center
  }
  .menu__link {
    font-size: 1.75rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .5s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header {
    background-color: #000
  }
  .header__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .header__container {
    gap: 0;
    grid-template-columns: auto 1fr
  }
  .header__logo {
    max-width: 5rem
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .menu__body::after {
    height: 4.375rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) and (min-width:79.375em) {
  .menu__body::after {
    height: 7.25rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:79.375em) {
  @supports (height:clamp(4.375rem ,3.4065789474rem + 4.8421052632vw ,7.25rem)) {
    .menu__body::after {
      height: clamp(4.375rem ,3.4065789474rem + 4.8421052632vw ,7.25rem)
    }
  }
  @supports not (height:clamp(4.375rem ,3.4065789474rem + 4.8421052632vw ,7.25rem)) {
    .menu__body::after {
      height: calc(4.375rem + 2.875 * (100vw - 20rem)/ 59.375)
    }
  }
}
@media (min-width:47.99875em) and (max-width:79.375em) {
  @supports ((-moz-column-gap:clamp(0.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem)) or (column-gap:clamp(0.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem);
      -moz-column-gap: clamp(.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem);
      column-gap: clamp(.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem)) or (column-gap:clamp(0.75rem ,-4.2217839927rem + 10.3581530616vw ,4rem))) {
    .menu__list {
      -webkit-column-gap: calc(.75rem + 3.25 * (100vw - 47.99875rem)/ 31.37625);
      -moz-column-gap: calc(.75rem + 3.25 * (100vw - 47.99875rem)/ 31.37625);
      column-gap: calc(.75rem + 3.25 * (100vw - 47.99875rem)/ 31.37625)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,-0.9747246126rem + 3.9839050237vw ,2.1875rem)) or (column-gap:clamp(0.9375rem ,-0.9747246126rem + 3.9839050237vw ,2.1875rem))) {
    .header__container {
      -webkit-column-gap: clamp(.9375rem ,-.9747246126rem + 3.9839050237vw ,2.1875rem);
      -moz-column-gap: clamp(.9375rem ,-.9747246126rem + 3.9839050237vw ,2.1875rem);
      column-gap: clamp(.9375rem ,-.9747246126rem + 3.9839050237vw ,2.1875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,-0.9747246126rem + 3.9839050237vw ,2.1875rem)) or (column-gap:clamp(0.9375rem ,-0.9747246126rem + 3.9839050237vw ,2.1875rem))) {
    .header__container {
      -webkit-column-gap: calc(.9375rem + 1.25 * (100vw - 47.99875rem)/ 31.37625);
      -moz-column-gap: calc(.9375rem + 1.25 * (100vw - 47.99875rem)/ 31.37625);
      column-gap: calc(.9375rem + 1.25 * (100vw - 47.99875rem)/ 31.37625)
    }
  }
}
@media (min-width:20em) and (max-width:79.375em) {
  @supports (padding-top:clamp(4.375rem ,3.3223684211rem + 5.2631578947vw ,7.5rem)) {
    .page__hero {
      padding-top: clamp(4.375rem ,3.3223684211rem + 5.2631578947vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,3.3223684211rem + 5.2631578947vw ,7.5rem)) {
    .page__hero {
      padding-top: calc(4.375rem + 3.125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.9276315789rem + 4.7368421053vw ,4.6875rem)) {
    .page__what {
      padding-top: clamp(1.875rem ,.9276315789rem + 4.7368421053vw ,4.6875rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.9276315789rem + 4.7368421053vw ,4.6875rem)) {
    .page__what {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,0.9276315789rem + 4.7368421053vw ,4.6875rem)) {
    .page__what {
      padding-bottom: clamp(1.875rem ,.9276315789rem + 4.7368421053vw ,4.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,0.9276315789rem + 4.7368421053vw ,4.6875rem)) {
    .page__what {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (column-gup:clamp(3.125rem ,2.0723684211rem + 5.2631578947vw ,6.25rem)) {
    .hero__container {
      column-gup: clamp(3.125rem ,2.0723684211rem + 5.2631578947vw ,6.25rem)
    }
  }
  @supports not (column-gup:clamp(3.125rem ,2.0723684211rem + 5.2631578947vw ,6.25rem)) {
    .hero__container {
      column-gup: calc(3.125rem + 3.125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,3.5394736842rem + 1.0526315789vw ,4.375rem)) {
    .hero__container {
      padding-bottom: clamp(3.75rem ,3.5394736842rem + 1.0526315789vw ,4.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,3.5394736842rem + 1.0526315789vw ,4.375rem)) {
    .hero__container {
      padding-bottom: calc(3.75rem + .625 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (gap:clamp(1.875rem ,1.5592105263rem + 1.5789473684vw ,2.8125rem)) {
    .hero__body {
      gap: clamp(1.875rem ,1.5592105263rem + 1.5789473684vw ,2.8125rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,1.5592105263rem + 1.5789473684vw ,2.8125rem)) {
    .hero__body {
      gap: calc(1.875rem + .9375 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.9078947368rem + 4.2105263158vw ,6.25rem)) {
    .hero__body {
      padding-top: clamp(3.75rem ,2.9078947368rem + 4.2105263158vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.9078947368rem + 4.2105263158vw ,6.25rem)) {
    .hero__body {
      padding-top: calc(3.75rem + 2.5 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.1414473684rem + 2.1052631579vw ,2.8125rem)) {
    .hero__title-block:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,1.1414473684rem + 2.1052631579vw ,2.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.1414473684rem + 2.1052631579vw ,2.8125rem)) {
    .hero__title-block:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.4921052632rem + 3.7894736842vw ,4.5rem)) {
    .hero__title {
      font-size: clamp(2.25rem ,1.4921052632rem + 3.7894736842vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.4921052632rem + 3.7894736842vw ,4.5rem)) {
    .hero__title {
      font-size: calc(2.25rem + 2.25 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (font-size:clamp(6.25rem ,3.05rem + 16vw ,15.75rem)) {
    .hero__highligh {
      font-size: clamp(6.25rem ,3.05rem + 16vw ,15.75rem)
    }
  }
  @supports not (font-size:clamp(6.25rem ,3.05rem + 16vw ,15.75rem)) {
    .hero__highligh {
      font-size: calc(6.25rem + 9.5 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (max-width:clamp(4.6875rem ,3.2138157895rem + 7.3684210526vw ,9.0625rem)) {
    .hero__title-bone {
      max-width: clamp(4.6875rem ,3.2138157895rem + 7.3684210526vw ,9.0625rem)
    }
  }
  @supports not (max-width:clamp(4.6875rem ,3.2138157895rem + 7.3684210526vw ,9.0625rem)) {
    .hero__title-bone {
      max-width: calc(4.6875rem + 4.375 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (gap:clamp(0.625rem ,0.4144736842rem + 1.0526315789vw ,1.25rem)) {
    .hero__actions {
      gap: clamp(.625rem ,.4144736842rem + 1.0526315789vw ,1.25rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.4144736842rem + 1.0526315789vw ,1.25rem)) {
    .hero__actions {
      gap: calc(.625rem + .625 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.3447368421rem + 4.5263157895vw ,3.9375rem)) {
    .social__list {
      padding-top: clamp(1.25rem ,.3447368421rem + 4.5263157895vw ,3.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.3447368421rem + 4.5263157895vw ,3.9375rem)) {
    .social__list {
      padding-top: calc(1.25rem + 2.6875 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.3447368421rem + 4.5263157895vw ,3.9375rem)) {
    .social__list {
      padding-bottom: clamp(1.25rem ,.3447368421rem + 4.5263157895vw ,3.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.3447368421rem + 4.5263157895vw ,3.9375rem)) {
    .social__list {
      padding-bottom: calc(1.25rem + 2.6875 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (width:clamp(2.5rem ,0.8157894737rem + 8.4210526316vw ,7.5rem)) {
    .social__item {
      width: clamp(2.5rem ,.8157894737rem + 8.4210526316vw ,7.5rem)
    }
  }
  @supports not (width:clamp(2.5rem ,0.8157894737rem + 8.4210526316vw ,7.5rem)) {
    .social__item {
      width: calc(2.5rem + 5 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.6217105263rem + 1.5789473684vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.6217105263rem + 1.5789473684vw ,1.875rem))) {
    .what__container {
      -webkit-column-gap: clamp(.9375rem ,.6217105263rem + 1.5789473684vw ,1.875rem);
      -moz-column-gap: clamp(.9375rem ,.6217105263rem + 1.5789473684vw ,1.875rem);
      column-gap: clamp(.9375rem ,.6217105263rem + 1.5789473684vw ,1.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.6217105263rem + 1.5789473684vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.6217105263rem + 1.5789473684vw ,1.875rem))) {
    .what__container {
      -webkit-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 59.375);
      -moz-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 59.375);
      column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.8618421053rem + 6.3157894737vw ,6.875rem)) {
    .what__img {
      padding-top: clamp(3.125rem ,1.8618421053rem + 6.3157894737vw ,6.875rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.8618421053rem + 6.3157894737vw ,6.875rem)) {
    .what__img {
      padding-top: calc(3.125rem + 3.75 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.4289473684rem + 4.1052631579vw ,3.6875rem)) {
    .what__label {
      font-size: clamp(1.25rem ,.4289473684rem + 4.1052631579vw ,3.6875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.4289473684rem + 4.1052631579vw ,3.6875rem)) {
    .what__label {
      font-size: calc(1.25rem + 2.4375 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (margin-top:clamp(-6.25rem ,2.1052632414rem + -10.5263158947vw ,0.0000000625rem)) {
    .what__decor {
      margin-top: clamp(-6.25rem ,2.1052632414rem + -10.5263158947vw ,.0000000625rem)
    }
  }
  @supports not (margin-top:clamp(-6.25rem ,2.1052632414rem + -10.5263158947vw ,0.0000000625rem)) {
    .what__decor {
      margin-top: calc(.0000000625rem + -6.2500000625 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (width:clamp(4.6875rem ,2.6875rem + 10vw ,10.625rem)) {
    .what__image-decor {
      width: clamp(4.6875rem ,2.6875rem + 10vw ,10.625rem)
    }
  }
  @supports not (width:clamp(4.6875rem ,2.6875rem + 10vw ,10.625rem)) {
    .what__image-decor {
      width: calc(4.6875rem + 5.9375 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (width:clamp(6.25rem ,3.5131578947rem + 13.6842105263vw ,14.375rem)) {
    .what__image-decor-2 {
      width: clamp(6.25rem ,3.5131578947rem + 13.6842105263vw ,14.375rem)
    }
  }
  @supports not (width:clamp(6.25rem ,3.5131578947rem + 13.6842105263vw ,14.375rem)) {
    .what__image-decor-2 {
      width: calc(6.25rem + 8.125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.1776315789rem + 4.7368421053vw ,5.9375rem)) {
    .what__text {
      padding-top: clamp(3.125rem ,2.1776315789rem + 4.7368421053vw ,5.9375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.1776315789rem + 4.7368421053vw ,5.9375rem)) {
    .what__text {
      padding-top: calc(3.125rem + 2.8125 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.4539473684rem + 2.1052631579vw ,3.125rem)) {
    .what__text {
      padding-bottom: clamp(1.875rem ,1.4539473684rem + 2.1052631579vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.4539473684rem + 2.1052631579vw ,3.125rem)) {
    .what__text {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-left:clamp(0.625rem ,-0.0065789474rem + 3.1578947368vw ,2.5rem)) {
    .what__text {
      padding-left: clamp(.625rem ,-.0065789474rem + 3.1578947368vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,-0.0065789474rem + 3.1578947368vw ,2.5rem)) {
    .what__text {
      padding-left: calc(.625rem + 1.875 * (100vw - 20rem)/ 59.375)
    }
  }
  @supports (padding-right:clamp(0.625rem ,-0.0065789474rem + 3.1578947368vw ,2.5rem)) {
    .what__text {
      padding-right: clamp(.625rem ,-.0065789474rem + 3.1578947368vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,-0.0065789474rem + 3.1578947368vw ,2.5rem)) {
    .what__text {
      padding-right: calc(.625rem + 1.875 * (100vw - 20rem)/ 59.375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background: #fff;
    color: #000;
    box-shadow: none;
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  .button--white:hover {
    background: #e84341;
    color: #fff
  }
  .menu__link:hover {
    color: #e84341
  }
  .social__item:hover {
    -webkit-transform: scale(.95) rotate(15deg);
    transform: scale(.95) rotate(15deg);
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0))
  }
}